.header {
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 0 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	z-index: 100;
}

.chevronIcon {
	display: none;
}

.inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
}

.group {
	display: flex;
	align-items: center;
	cursor: pointer;
	gap: 20px;
}

.logo {
	flex-shrink: 0;
	cursor: pointer;
	transition: transform 0.05s ease-in-out;
}

.link,
.button {
	text-decoration: none;
	color: #333; 
	cursor: pointer;
	background: none;
	border: none;
	display: flex;
	align-items: center;
}

.link:hover,
.button:hover {
	color: #000;
}

.link:hover {
	border-bottom: 2px solid #000;
	transition: border-bottom 0.2s ease-in-out;
}

.dropdownLink {
	display: flex;
	align-items: center;
	gap: 8px;
}

.chevronIcon {
	margin-left: 8px;
}

.dropdown {
	background-color: #f9f9f9; 
	border-radius: 4px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
